.bookContents {
    display: flex;
    justify-content: space-around;
}

.bookList {
    width: 450px;
    background-color: aqua;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
}

.bookDetail {
    width: 450px;
    margin-left: 2rem;
    background-color: aquamarine;
}
