<div class="personInfo">
    <div class="personInfoText">
        <img class="picture" src="{{ person?.imageURL }}" />
        <p>Gender: {{ person?.gender }}</p>
        <p>Country: {{ person?.country }}</p>
        <p>Age: {{ person?.age }}</p>
    </div>
    <div class="getPersonButton">
        <button mat-raised-button color="primary" (click)="getStaticPerson()">
            Get Static Person
        </button>
        <button mat-raised-button color="primary" (click)="getRandomPerson()">
            Get Random Person
        </button>
    </div>
</div>
