.personContents {
    width: 450px;
    background-color: yellowgreen;
    margin-left: 2rem;
}

.mat-form-field {
    margin-left: 2rem;
}

.mat-raised-button {
    margin-left: 1rem;
    margin-right: 1rem;
}
