<div class="personContents">
    <img class="picture" src="{{ selectedImageURL }}" />
    <div class="mat-forms">
        <mat-form-field appearance="fill">
            <mat-label>Gender</mat-label>
            <mat-select [(ngModel)]="selectedGender">
                <mat-option *ngFor="let gender of genders" [value]="gender">
                    {{ gender }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Country</mat-label>
            <mat-select [(ngModel)]="selectedCountry">
                <mat-option *ngFor="let country of countries" [value]="country">
                    {{ country }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Age</mat-label>
            <input
                [(ngModel)]="selectedAge"
                matInput
                type="number"
                min="1"
                max="100"
                #input
                required
            />
        </mat-form-field>
    </div>

    <div class="getPersonButton">
        <div *ngIf="isAbleToSubmit(); then thenBlock; else elseBlock"></div>
        <ng-template #thenBlock>
            <button
                mat-raised-button
                color="primary"
                routerLink="/book-list"
                routerLinkActive="active-link"
                (click)="submitTopic()"
            >
                Submit
            </button>
        </ng-template>
        <ng-template #elseBlock>
            <button mat-raised-button color="primary" disabled>Submit</button>
        </ng-template>

        <button mat-stroked-button color="primary" (click)="getRandomPerson()">
            Get Random Person
        </button>
    </div>
</div>
