.personContents {
    width: 450px;
    /*     background-color: yellowgreen; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture {
    width: 200px;
    height: 200px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.mat-forms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.getPersonButton {
    display: flex;
    flex-direction: column;
}

.mat-raised-button {
    margin-top: 1rem;
}

.mat-stroked-button {
    margin-top: 1rem;
}
