.title {
    font-size: 50px;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.dashboard {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: center;
}

.personInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.personInfoText {
    padding: 0;
    margin-top: 1rem;
/*     background-color: yellow; */
    width: 450px;
    text-align: center;
}

.bookListDetail {
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bookList {
    display: flex;
/*     background-color: wheat; */
    width: 450px;
    text-align: center;
    flex-direction: column;
}

.bookDetail {
    display: flex;
/*     background-color: steelblue; */
    width: 450px;
    text-align: center;
    flex-direction: column;
}

.bookList {
    padding: 0;
    margin-top: 1rem;
}

.bookDetail {
    padding: 0;
    margin-top: 1rem;
}

.bookContent {
    width: 900px;
}
