.title {
    font-size: 50px;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.dashboard {
    display: flex;
    justify-content: space-around;
}

.bookList {
    display: flex;
    flex-direction: column;
}

.bookDetail {
    display: flex;
    flex-direction: column;
}
